<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Test BQuantum</title>
    <link rel="stylesheet" href="public/node_modules/tether/dist/css/tether.min.css">
    <link rel="stylesheet" href="public/node_modules/bootstrap/dist/css/bootstrap.min.css">
</head>
<body>
    <h1> Hi guys </h1>
    
    <!--
    <form method="post" action="//gateway.payulatam.com/ppp-web-gateway/pb.zul">
        <input type="image" border="0" alt="" src="http://www.payulatam.com/img-secure-2015/boton_pagar_pequeno.png" onclick="this.form.urlOrigen.value = window.location.href;"/>
        <br>
        {{#each data}}
            <label for="{{this.name}}">{{this.name}}</label>
            <input id="{{this.name}}" name="{{this.name}}" type="text" value="{{this.value}}"> <br>
        {{/each}}
        <input name="Submit"        type="submit"  value="Enviar" >
    </form> -->

<script src="public/node_modules/jquery/dist/jquery.min.js"></script>
<script src="public/node_modules/tether/dist/js/tether.min.js"></script>
<script src="public/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="public/node_modules/renderjson/renderjson.js"></script>
<script src="public/scripts/process.js"></script>
</body>
</html>
